.events-block {
    max-width: 1414px;
    margin: 0 auto 148px;

    &__slider {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        &-pics {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            max-width: 1394px;
            margin: auto;
        }
        &-btns {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            padding: 0 40px;
            align-items: center;
            margin-top: -50px;
            margin-bottom: 15px;
        }
        &-text {
            display: flex;
            padding: 0 40px;
            margin-left: auto;
            max-width: 149px;
            height: 52px;
            align-items: center;
            transition: color 0.2s;
            &:hover {
                color: @red_hover;
            }
        }
    }

    &__background {
        position: absolute;
        width: 1920px;
        height: 1236px;
        left: 0px;
        top: 3313px;
        z-index: -1;
    }
}