.event { 
    box-sizing: border-box;
    max-width: 1414px;
    width: 100%;
    margin: 0 auto 150px;
    padding: 0 40px;
    @media @bw1340 {
        padding: 0 30px;
    }
    @media @bw768 {
        padding: 0 20px;
    }

    &-card {
        display: flex;
        width: calc(33.333% - 60px);
        margin: 0 30px 120px;
        max-width: 100%;
        min-width: 280px;
        @media @bw1660 {
            width: calc(33.3333% - 40px);
            margin: 0 20px 100px;
        }

        @media @bw1340 {
            width: calc(33.3333% - 30px);
            margin: 0 15px 100px;
        }
        
        @media @bw1020 {
            width: calc(50% - 30px);
            max-width: 405px;
            margin: 0 15px 80px;
        }

        @media @bw768 {
            margin: 0 10px 80px;
        }
    }

    &-card__link {
        display: flex;
        flex-direction: column;
        width: 100%;
        color:@black;
        text-decoration: none;
    }
    
    &-card__link:hover .event-card__title {
        color: @red;
        text-decoration-color: @red;
    }
    
    &-card__picture {
        display: block;
        margin-bottom: 25px;
        position: relative;
        width: 100%;
        font-size: 0;
        text-decoration: none;
        overflow: hidden;
    }
    
    &-card__picture::after {
        content: '';
        display: block;
        padding-top: 107.16%; /*height : width*/
        width: 100%;
    }
    
    &-card__img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    &-card__title {
        margin-bottom: 15px;
        min-height: 66px;
        color: @black;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        text-decoration: underline transparent;
        transition: color 0.2s, text-decoration-color 0.2s;

        @media @bw1660 {
            margin: 0 0 10px;
        }

        @media @bw1340 {
            min-height: 54px;
            font-size: 20px;
            line-height: 27px;
        }

        @media @bw768 {
            min-height: 44px;
            font-size: 16px;
            line-height: 22px;
        }
    }
    
    &-card__description {
        margin: 0 0 auto;
        color:@black;
        font-size: @font-size;
        line-height: 22px;

        @media @bw1020 {
            font-size: 14px;
            line-height: 19px;
        }
    }
    
    &-card__time {
        margin: 15px 0 0;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
    }

    &__arrow {
        color: @black;
        transition: color 0.2s;
    }

    &__arrow:hover {
        color: @red;
    }

    &-title {
        box-sizing: border-box;
        font-family: @font3;
        font-style: normal;
        font-weight: 500;
        font-size: 70px;
        line-height: 90px;
        margin: 0 auto 80px;
        max-width: 819px;
        text-align: center;
        @media @bw1020 {
            font-size: 40px;
            line-height: 51px;
        }
        @media @bw600 {
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 40px;
            margin-top: 80px;
        }
    }

    &-pic {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        max-width: 943px;
        width: 100%;
        margin: auto;
        margin-bottom: 80px;
        justify-content: center;
        align-items: center;
        gap: 60px;
        @media @bw768 {
            flex-wrap: wrap;
        }
        @media @bw600 {
            gap: 39px;
            margin-bottom: 60px;
        }
    
        &__side {
            display: flex;
            flex-direction: column;
            max-height: 92px;
            min-height: 56px;
            gap: 11px;
            @media @bw600 {
                gap: 7px;
            }
        }
        &__img {
            margin: auto;
            &:nth-child(3) {
                @media @bw768 {
                    order: 1;
                    flex-basis: 33.33%;
                }
            }
            &:nth-child(2) {
                @media @bw768 {
                    order: -1;
                    flex-basis: 100%;
                    text-align: center;
                }
                @media @bw600 {
                    padding: 0 25px;
                }
            }
            &:nth-child(1) {
                @media @bw768 {
                    order: 0;
                    flex-basis: 33.33%;
                    align-items: flex-end;
                }
            }
        }
        &__rect {
            width: 139px;
            height: 1px;
            margin-left: auto;
            background: linear-gradient(270deg, #1C1B1B 0%, rgba(255, 255, 255, 0) 82.86%);
            &--right {
                margin-left: 0;
                transform: rotate(180deg);
            }
            @media @bw600 {
                width: 83px;
            }
        }
    
        &__text--high {
            display: flex;
            align-items: baseline;
            font-family: @font2;
            font-style: normal;
            font-weight: 300;
            font-size: 30px;
            line-height: 36px;
            gap: 12px;
            @media @bw600 {
                font-size: 18px;
                line-height: 22px;
            }
        }
        &__text--low {
            font-family: @font2;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            white-space: nowrap;
            @media @bw600 {
                font-size: 12px;
                line-height: 14px;
            }
        }
    }

    &-tblock {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        gap: 75px;
        margin-bottom: 80px;

        &__program {
            max-width: 419px;
            width: 100%;
            max-height: 302px;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: flex-start;
            & li {
                @media @bw600 {
                    font-size: 14px;
                    line-height: 28px;
                }
            }
        }

        &__title {
            margin-top: 0;
            margin-bottom: 15px;
            font-family: @font1;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            &--up {
                margin-bottom: 5px
            }
        }

        &__list {
            &--unord {
                font-family: @font1;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
            }
            &--ord {
                margin-top: 50px;
            }
        }

        &__name {
            max-width: 870px;
            width: 100%;
            font-family: @font1;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            @media @bw600 {
                font-size: 14px;
                line-height: 19px;
                margin-top: 50px
            }
        }
    }
}