.footer {
    .container();
 
    &__lines {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1414px;
        gap: 98px;
        margin: 0px auto 60px;
        @media @bw1340 {
            gap: 92px;
        }
        @media @bw768 {
            gap: 52px;
        }

        &-line {
            width: 618px;
            height: 2px;
            background: linear-gradient(270deg, #1C1B1B 0%, rgba(255, 255, 255, 0) 82.86%);
            @media @bw1340 {
                width: 584px;
            }
            @media @bw768 {
                width: 328px;
            }
        }
        &-line--right {
            background: linear-gradient(90deg, #1C1B1B 0%, rgba(255, 255, 255, 0) 82.86%);
        }
    }

    &__information {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media @bw650 {
            flex-direction: column;
            font-size: 14px;
            gap: 59px;
        }
    }

    &__information-links {
        position: relative;
        padding-left: 26px;
        display: flex;
        flex-direction: column;
        gap: 22px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
            background-color: @red;
        }
    }

    &__information-link {
        color: @black;
        transition: color 0.2s;
        &:hover {
            @media (hover :hover) {

            }
            color: @red_hover;
        }
    }

    &-mail {
        display: flex;
        flex-direction: column;
        @media @bw650 {
            max-width: 320px;
        }
    }

    &-mail__subscribe {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
        margin-top: 0;
    }

    &-mail__input {
        width: 100%;
        max-width: 410px;
        padding-left: 28px;
        background-color: #FFFFFF;
        border: none;
    }

    &-mail__subscribe-button {
        display: flex;
        background-color: #1F1E1E;
        color: #FFFFFF;
        width: 100%;
        height: 49px;
        max-width: 135px;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: background-color 0.2s;
        &__text {
            font-size: 14px;
        }
        &:hover {
            background-color: @red_hover;
        }
    }

    &-mail__checkbox-text {
        font-family: @font1;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
    }

    &-orgaspects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 58px;
        margin-bottom: 78px;
        @media @bw1020 {
            font-size: 14px;
            line-height: 19px;
        }

        &-text {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            max-width: 374px;
            gap: 14px;
            width: 100%;
            @media @bw1020 {
                width: 100%;
            }
            @media @bw650 {
                flex-direction: column-reverse;
            }
        }

        &__millenials-text {
            margin: 0 0;
            @media @bw650 {
                text-align: right;
                margin-bottom: 6.5px;
            }
        }

        &__policy {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            @media @bw1020 {
                justify-content: left;
            }
            @media @bw650 {
                gap: 20px;
            }
        }

        &__policy-text {
            margin-bottom: 0;
            transition: color 0.2s;
            &:hover {
                color: @red_hover;
            }
            @media @bw1020 {
                margin-right: 15px;
            }
        }

        &__cookies-text {
            margin-bottom: 0;
            transition: color 0.2s;
            &:hover {
                color: @red_hover;
            }
        }

        &__social {
            display: flex;
            justify-content: space-between;
            width: 160px;
            @media @bw1020 {
                order: -1;
                justify-content: center;
                width: 100%;
                gap: 44px;
                margin-bottom: 60px;
            }
            @media @bw650 {
                gap: 30px;
            }
        }

        &-link {
            text-decoration: none;
        }

        &-logo {
            width: 58px;
            height: 58px;
            transition: fill 0.2s;
            &:hover {
                fill: @red_hover;
            }
            @media @bw650 {
                width: 48px;
                height: 48px;
            }
        }

        &__tagree {
            display: flex;
            align-items: flex-end;
            gap: 15px;
            @media @bw650 {
                margin-left: auto;
            }

            &-text {
                margin: 0 0;
            }

            &-icon {
                width: 56px;
                height: 17px;
                transition: color 0.2s;
                &:hover {
                    color: @red_hover;
                }
            }

            &-link {
                margin-bottom: -5px;
            }
        }
    }
}