.reserve {
    display: grid;
    width: 100%;
    gap: 67px 150px;
    grid-template-columns: 405px calc(89% - 405px);
    grid-template-areas: 
    "checkbox scheme"
    "order legend";

    @media @bw1340 {
        gap: 65px 6.5%;
        grid-template-columns: 340px calc(93.5% - 340px);
    }
    @media @bw1020 {
        gap: 60px;
        grid-template-columns: auto 390px;
        grid-template-areas: 
          "scheme scheme"
          "checks legend"
          "checks order"; 
    }
    @media @bw768 {
        grid-template-columns: 100%;
        grid-template-areas: 
          "scheme"
          "legend"
          "checks"
          "order"; 
    }

    &__checks {
        display: flex;
        row-gap: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    &__scheme-wrapper {
        position: relative;
        width: 100%;
        &::after {
            content: "";
            display: block;
            width: 100%;
            padding-top: 51.154%;
        }
    }
    &__scene {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__order {
        display: flex;
        flex-direction: column;
    }
    &__tickets {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 18px;
    }
    &__qty {
        &::after {
            content: " " attr(data-caption) " | " attr(data-price);
        }
    }
    &__sum {
        &::after {
            content: attr(data-currency);
            margin-left: 4px;
            font-size: 0.95em;
        }
    }
    &__total {
        margin: 8px auto 0;
        
        &::before {
            content: attr(data-caption);
            margin-right: 30px;
        }
        &::after {
            content: attr(data-currency);
            margin-left: 4px;
            font-size: 0.95em;
        }
    }

    &__submit {
        margin-top: 53px;
    }

    &__scheme-title {
        background-color: @black;
        color: @white;
        max-width: 162px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 21.28px auto 40px;
    }

    &__legend {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 355px;
        width: 100%;
        margin-left: auto;
        &-title {
            margin-top: 23.94px;
            margin-bottom: 20px;
            &:nth-child(4) {
                margin-top: 37px;
            }
        }
        &-text {
            font-family: @font1;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
        }
        &-person {
            display: flex;
            flex-direction: row;
            margin-bottom: 15px;
            align-items: center;
            gap: 9px;
            &:nth-child(3) {
                margin-bottom: 0;
            }
        }
        &-square {
            width: 24px;
            height: 24px;
            &--black {
                background-color: @black;
            }
            &--red {
                background-color: @red;
            }
        }
        &-note {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 13px;
            &:nth-child(6) {
                margin-bottom: 0;
            }
        }
        &-ellipse {
            width: 24px;
            height: 24px;
            border-radius: 20px;
            &--black {
                margin-right: -12px;
                border: @black 1px solid;
            }
            &--red {
                margin-right: 21px;
                border: @red 1px solid;
            }
            &--gray {
                margin-right: 29px;
                background-color: @grey_2;
            }
        }
    }

    &__section-title {
        font-family: @font1;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
    }
}