.section-title {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 624px;
    min-height: 62px;
    margin: 0 auto 150px;
    padding: 8px 45px;
    background-color: @black;
    color:@white;
    font-family: 'Lora';
    font-size: 36px;
    font-weight: 500;
    line-height: 1.277;
    text-transform: uppercase;
    text-align: center;
}