.wishes__block {
    display: flex;
    flex-direction: column;
    margin: 0 auto 200px;
    width: 100%;
    max-width: 624px;
    text-align: center;
    gap: 46px;
    @media @bw1660 {
        max-width: 604px;
    }
    @media @bw1020 {
        max-width: 566px;
        gap: 43px;
    }
    @media @bw650 {
        max-width: 280px;
        gap: 25px;
    }

    &__header {
        margin: auto;
        width: 90px;
    }

    &__title {
        display: inline-block;
        font-family: @font3;
        font-size: 22px;
        line-height: 30px;
        margin: auto;
        text-transform: uppercase;
        @media @bw650 {
            font-size: 13px;
            line-height: 17px;
            letter-spacing: 0.02em;
        }
    }

    &-btns {
        display: flex;
        max-width: 624px;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        @media @bw650 {
            flex-direction: column;
            gap: 25px;
        }
    }
}