
.header {
}
/* Кнопка <показать еще> */
.view-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button__arrow {
    width: 60px;
    height: 91px;
    margin-top: 23px;
}

.view-button__text {
    font: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
}

/* Блок дополнительных услуг */
.service {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1414px;
    margin: 100px auto;
    padding-left: 40px;
    padding-right: 40px;
}

.service__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    align-items: flex-start;
    min-width: 280px;
    max-width: 65%;
}

/* Таблица */
.table {
    display: table;
    text-align: center;
    width: 100%;
    margin-top: 60px;
    border-collapse: collapse;
    font-size: 18px;
    line-height: 25px;
}

.table-check {
    width: 1.3em;
    vertical-align: middle;
}

tr .table-service{
    text-align: start;
    max-width: 100%;
    min-width: 188px;
}

.table-body tr:nth-child(odd) {
    background-color:#ededed;
}

td {
    height: 50px;
    max-height: 100px;
}

td:not(:last-child) {
    border-right: 1px solid #c7c7c7;
}

tr:not(:last-child) {
    border-bottom: 1px solid #c7c7c7;
}

th {
    padding: 30px 50px;
}

th:not(:first-child) {
    border-left: 1px solid #c7c7c7;
}

/* Блок кнопок */

.block-buttons {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    width: 50%;
    max-width: 648px;
    min-height: 132px;
    text-align: center;
}

.block-buttons__title {
    font-family: 'Lora';
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 50px;
}

.btn {
    display: flex;
    width: 272px;
    height: 52px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #1F1E1E;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 5px;
}

.btn__block-red {
    border-color:#BC3324;
    background-color: #BC3324;
    color: #FFFFFF;
    transition: background-color 0.2s, color 0.2s,  border-color 0.2s;
}

.btn__block-noncolor {
    color: black;
    transition: background-color 0.2s, color 0.2s;
}

.btn__block-red:hover {
    border-color: #1F1E1E;
    background-color:#1F1E1E;
    color:#FFFFFF;
}

.btn__block-noncolor:hover {
    background-color:#BC3324;
    color:#FFFFFF;
}

/* Блок информации и контактов */

.square__image {
    width: 20px;
    height: 20px;
}

.information {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    max-width: 1414px;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 100px auto 150px;
    padding-left: 40px;
    padding-right: 40px;
}

.block__square {
    display: flex;
    width: 100%;
    max-width: 105px;
    min-width: 65px;
    height: 105px;
    margin-bottom: 40px;
    min-height: auto;
    background-color: #1F1E1E;
    justify-content: center;
    align-items: center;
}

.information-block {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.information-text {
    margin-top: 10px;
    width: 100%;
    max-width: 401px;
    height: 66px;
}

/* Разграничитель футера */

.footer {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: 100%;
    max-width: 1414px;
    margin: 0 auto;
}

.footer__lines {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1414px;
    justify-content: space-between;
    margin: 0px auto 60px;
}

.footer__line1 {
    width: 618px;
    height: 2px;
    background: linear-gradient(270deg, #1C1B1B 0%, rgba(255, 255, 255, 0) 82.86%);
}

.footer__line2 {
    width: 618px;
    height: 2px;
    background: linear-gradient(90deg, #1C1B1B 0%, rgba(255, 255, 255, 0) 100%);
}

/* Блок информации - ссылки*/

.footer__information {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1414px;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 50px;
}

.footer__information-link {
    display: flex;
    flex-direction: row;
    width: 230px;
    height: 198px;
}

.link__rectangle {
    width: 4px;
    height: 198px;
    background-color: #BC3324;
}

.link-text {
    padding-left: 22px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color:#1F1E1E;
}

/* Блок информации - почта*/

.footer__information-mail {
    display: flex;
    flex-direction: column;
}

.mail__subscribe-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.mail__input {
    width: 100%;
    max-width: 410px;
    padding-left: 28px;
    background-color: #FFFFFF;
    border: none;
}

.mail__subscribe-button {
    display: flex;
    background-color: #1F1E1E;
    color: #FFFFFF;
    width: 100%;
    height: 49px;
    max-width: 135px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.mail__subscribe-button-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

/* Блок ивента */
